{% extends "base.html" %}

{% block content %}

<h1>
    <a style="color: black;font-size:smaller;" href="/{{ name }}/">
        <i class="fa fa-long-arrow-left"></i></a> {{ tables[name]['name'] }}
</h1>
<form>
    {% for info, field_name in zip(meta_info[1:], tables[name]['fields'][1:]) %}
    <div class="input-group mb-1">
        <span class="input-group-text">{{ field_name }}</span>
        {% if info[1] == 'date' %}
            <input type="date" class="form-control" name="{{info[0]}}"
        {% elif info[1] in ['int', 'money'] %}
            <input type="number" class="form-control" name="{{info[0]}}"
        {% elif info[1] == 'bool' %}
        <select class="form-select" name="{{info[0]}}" value="{{ record }}">
            <option value="True" selected>+</option>
            <option value="False">-</option>
        </select
        {% elif info[0] == 'Sex' %}
            <select class="form-select" name="{{info[0]}}" value="{{ record }}">
                <option value="М">Мужской</option>
                <option value="Ж">Женский</option>
            </select
        {% elif info[0] == 'Email' %}
            <input type="email" class="form-control" name="{{info[0]}}"
        {% else %}
            <input type="text" class="form-control" name="{{info[0]}}"
               maxlength="{{ info[3] }}"
        {% endif %}
        {% if info[2] == 'NO' %}required=""{% endif %}>
    </div>
    {% endfor %}

    <div class="mt-2">
        <button formaction="/{{name}}/add/" formmethod="post" class="btn btn-primary">
            <i class="fas fa-save"></i> <b>Сохранить</b>
        </button>
    </div>
</form>

{% endblock %}
