<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome.min.css">
    <link rel="stylesheet" href="/static/solid.min.css">
    <link rel="stylesheet" href="/static/signin.css">
    <link rel="shortcut icon" href="/static/favicon.ico">


    {% if title %}
    <title>{{ title }} - Employment Agency</title>
    {% else %}
    <title>Employment Agency</title>
    {% endif %}
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fa fa-suitcase"></i> Employment Agency</a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown pt-1">
                    <h5 class="nav-link dropdown-toggle pb-1" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        Таблицы
                    </h5>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for table in tables %}
                        <li class="d-flex justify-content-between">
                            <a style="font-size:large;" class="dropdown-item" href="/{{ table }}/">
                                {{ tables[table]['name'] }}
                            </a>
                            <span class="badge bg-secondary m-2">{{ tables[table].get('n_records', '?') }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <span class="navbar-text ml-auto">
        <a href="/login/">{{ username }}</a>

        <a class="btn btn-sm align-middle btn-outline-secondary mr-2" type="button" href="/"><i
                class="fas fa-key"></i> Выйти</a>
    </span>
        </div>
    </div>
</nav>

<div class="container mt-3 mb-3">
    {% block content %}{% endblock %}
</div>

<script src="/static/popper.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</body>
</html>