{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between">

    <h1><i class="fa fa-suitcase"></i> Employment Agency</h1>
    <form action="/fill_db/" method="post">
        <button class="btn btn-lg btn-primary" name="fill_db_button" value="fill">
            <i class="fas fa-server"></i> Сгенерировать данные
        </button>
    </form>
</div>

<div class="list-group">
    {% for table in tables %}
    <a href="{{ table['url'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex justify-content-between">
            <h4 class="mb-1">
                <i class="{{ table.get('icon') }}"></i> {{ table['name'] }}
            </h4>
            <h5><span class="badge badge-primary badge-pill">{{ table['n_records'] }}</span></h5>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
