{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between mb-1">
    <h1><i class="fa fa-suitcase"></i> Employment Agency</h1>

    <form>
        <div class="btn-group pt-2">
            <button formaction="/fill_db/" formmethod="post" id="fill_db" class="btn btn-primary">
                <i class="fas fa-server"></i> <b>Сгенерировать данные</b>
            </button>
            <button formaction="/clear_db/" formmethod="post" id="clear_db" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> <b>Удалить все данные</b>
            </button>
        </div>
    </form>

</div>

<div class="list-group">
    {% for table in tables %}
    <a href="/{{ table }}/" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
            <h3 class="col-md-10 pt-1">
                <i class="{{ tables[table].get('icon') }}"></i> {{ tables[table]['name'] }}
            </h3>
            <form class="col-sm-2 btn-group pt-1 pb-1 pr-4">
                    <button formaction="/fill_db/{{ table }}/" formmethod="post" class="btn btn-primary">
                        <i class="fas fa-server"></i>
                    </button>
                    <button formaction="/clear_db/{{ table }}/" formmethod="post" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <button class="btn btn-secondary btn-block">
                        <b>{{ tables[table]['n_records'] }}</b>
                    </button>
            </form>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
