{% extends "base.html" %}
{% block content %}
<form class="form-signin text-center bg-light text-dark">
    <i class="fa fa-suitcase fa-7x"></i>
    <h1 class="h3 mb-3 font-weight-normal">Employment Agency</h1>
    <div class="alert alert-danger {{ invalid }}" role="alert">
        Введено неверное имя или пароль
    </div>
    <input type="text" name="username" class="form-control mb-1" placeholder="Username" required="" autofocus="">
    <input type="password" name="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="remember-me" value="True"> Запомнить меня
        </label>
    </div>
    <button formaction="" formmethod="post" class="btn btn-lg btn-primary btn-block"type="submit">
        Войти
    </button>
</form>

{% endblock %}
