{% extends "base.html" %}

{% block content %}

<h1>{{ tables[name]['name'] }}</h1>
<form>
    {% for field, record in zip(tables[name]['fields'], table_data) %}
    <div class="input-group mb-1">
        <span class="input-group-text">{{ field }}</span>
        {% if field == tables[name]['fields'][0] %}
        <input type="text" class="form-control" name="key_{{field}}" value="{{ record }}" placeholder="{{ record }}">
        {% else %}
        <input type="text" class="form-control" name="{{field}}" value="{{ record }}" placeholder="{{ record }}">
        {% endif %}
    </div>
    {% endfor %}
    <button formaction="/{{name}}/update/" formmethod="post" class="btn btn-primary">
        <i class="fas fa-save"></i> <b>Сохранить</b>
    </button>
</form>
{% endblock %}
