{% extends "base.html" %}

{% block content %}

<h1>{{ tables[name]['name'] }}</h1>
<form>
    {% for column_name, field_name, record in zip(column_names, tables[name]['fields'], table_data) %}
    <div class="input-group mb-1">
        <span class="input-group-text">{{ field_name }}</span>
        <input type="text" class="form-control" name="{{column_name[0]}}" value="{{ record }}"
               placeholder="{{ record }}">
    </div>
    {% endfor %}
    <div class="mt-2">
        <button formaction="/{{name}}/update/" formmethod="post" class="btn btn-primary">
            <i class="fas fa-save"></i> <b>Сохранить</b>
        </button>
        <button formaction="/{{name}}/delete/" formmethod="post" class="btn btn-danger">
            <i class="fas fa-trash"></i> <b>Удалить</b>
        </button>
    </div>
</form>

{% endblock %}
