{% extends "base.html" %}

{% block content %}

<h1>{{ tables[name]['name'] }}</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            {% for field in tables[name]['fields'][1:] %}
            <th class="text-center" scope="col">{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for record in table_data %}
        <tr onclick="window.location='{{ tables[name]['url'] }}{{ record[0] }}/'" class="list-group-item-action" style="cursor: pointer;">
            {% for field, type in zip(record[1:], types[1:]) %}
                <td class="text-center">
                {% if type[0] == 'uniqueidentifier' and field != None %}
                    {{ field[:8] }}
                {% elif type[0] == 'datetime' and field != None %}
                    {% set date = (field).__str__() %}
                    {{ date[:date.find(' ')] }}
                {% elif type[0] == 'bit' %}
                    <input class="form-check-input" type="checkbox"
                               {% if field == 1 %}
                               checked
                               {% endif %} disabled>
                {% elif type[0] == 'money' %}
                    {% set money = field.__str__() %}
                    {{ money[:money.find('.')] }}
                {% else %}
                    {{ field }}
                {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
