{% extends "base.html" %}

{% block content %}

<h1></h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            {% for field in table_info['fields'][1:] %}
            <th scope="col">{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for record in table %}
        <tr onclick="window.location='{{ table_info['url'] }}{{ record[0] }}/'" class="list-group-item-action">
            {% for field, type in zip(record[1:], types[1:]) %}
            {% if type[0] == 'uniqueidentifier' %}
            <td>{{ field[:8] }}</td>
            {% elif type[0] == 'datetime' and field != None %}
            {% set date = (field).__str__() %}
            <td>{{ date[:date.find(' ')] }}</td>
            {% else %}
            <td>{{ field }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
