{% extends "base.html" %}

{% block content %}

<h1></h1>
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            {% for field in fields[1:] %}
            <th scope="col">{{ field }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for record in table %}
        <tr onclick="window.location='/{{ name }}/{{ record[0] }}/'" class="list-group-item-action">
            {% for field in record[1:] %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
