<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
</head>
<body>
<table style="width:100%">
    <tr>
        {% for field in fields %}
        <th>{{ field}} </th>
        {% endfor %}
    </tr>
    {% for row in results %}
    <tr>
        {% for field in fields %}
        <td>{{ row }}</td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
</body>
</html>