<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
    <title>Соискатели</title>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Код соискателя</th>
        <th>ФИО Соискателя</th>
        <th>Дата обращения</th>
        <th>Код должности</th>
        <th>Опыт работы</th>
    </tr>
    {% for row in results %}
    <tr>
        <td>{{ row[0][0:8] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3][0:8] }}</td>
        <td>{{ row[4] }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>