<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Данные об образовании</title>
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Код образования</th>
        <th>Образование</th>
        <th>Примечание</th>
    </tr>
    {% for row in results %}
    <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>