<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вакансии</title>
    <style>
    table, th, td {
      border: 1px solid black;
    }
    </style>
</head>
<body>
<table style="width:100%">
    <tr>
        <th>Код вакансии</th>
        <th>Код работодателя</th>
        <th>Дата размещения</th>
        <th>Код должности</th>
        <th>Размер з/п</th>
        <th>График работы</th>
        <th>Состояние вакансии</th>
    </tr>
    {% for row in results %}
    <tr>
        <td>{{ row[0][0:8] }}</td>
        <td>{{ row[1][0:8] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3][0:8] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>